.MuiButton-endIcon {
  margin: 0 !important;
}

.carousel {
  position: unset !important;
}

.navbar {
  .active {
    color: #0a0a0a !important;
  }
}

.footer a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #dda01e;
  }
}

.issuersList {
  a {
    color: #0a0a0a;
    text-decoration: none;

    &:hover {
      color: #dda01e;
    }
  }

  .active {
    color: #dda01e !important;
  }
}
